@charset "utf-8";

body {
  font-family: 'Kiwi Maru', serif; }

.redirect__img {
	max-width: 100%;
	width: 20%;
	display: block;
  	margin: 0 auto;
	margin-bottom: 1rem;}
.redirect__title, .redirect__text {
  	text-align: center;}
.redirect__text:last-of-type {
  margin-top: 1.5rem; }
.redirect__link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #330099;
  margin-top: 1.5rem;}
  .redirect__link:hover {
    opacity: .4; }




